#list{
    display: flex;
    flex-direction: column;
}

.products{
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
